# AWS Env vars
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export LOGIN_URL="http://localhost:8082"
export SEND_FRONTEND_REDIRECT_KEY="send" # Must match its counterpart in the main Vault project
export LOGGING_URL="http://localhost:4000/secret_datasets"
export COOKIE_SECRET="blahblahblah"
export COOKIE_DOMAIN="localhost"
export REDIS_SESSION_URL="redis://localhost:6379"
